.navbar {
  background-color: #f0f0f0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  height: 3.5rem;
}

.github-icon {
  height: 2.5rem;
}
