table {
  border-collapse: collapse;
  width: 50%;
}

th {
  background-color: #7c33d4;
  color: #f6f5f5;
  font-weight: 500;
  padding: 0.7rem;
  width: 9rem;
}

th:last-child {
  border-top-right-radius: 50px;
}

th:first-child {
  border-top-left-radius: 50px;
}

tbody {
  display: block;
  overflow: auto;
  height: 25rem;
  width: calc(100% + 1%);
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td {
  background-color: #fcfcfc;
  font-weight: 300;
  padding: 0.95rem;
}

.bankName {
  display: flex;
  align-items: center;
}

.bankLogo {
  height: 40px;
  padding-right: 20px;
}

.bankData {
  text-align: center;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 50px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 50px;
}

table tbody::-webkit-scrollbar {
  width: 5px;
}

table tbody::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #7c33d4;
}

@media only screen and (max-width: 1025px) {
  table {
    width: 80%;
  }

  tbody {
    overflow: auto;
    height: 80vh;
  }
}

@media only screen and (max-width: 415px) {
  table {
    width: 90%;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  th {
    background-color: #7c33d4;
    color: #f6f5f5;
    padding: 0.5rem;
    width: auto;
  }

  td {
    background-color: #fcfcfc;
    padding: 0.8rem;
    width: auto;
  }

  .bankLogo {
    height: 1.7rem;
    padding-right: 6px;
  }

  .bankName {
    width: auto;
  }
}
